


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D4ADFC;
  color: rgb(175, 40, 40);
  color: rgba(139, 14, 45, 0.5);
  text-align: center;
  
}

.blackColor {
  color: #000000;
}

.yellowColor {
  color: #FFE79B
}

.blueColor {
  color: #11009E;
}

.backGround {
  background-color: #D4ADFC;
}

.centeredText{
  text-align: center;
}

.checkboxSize {
  width: 1.2em;
  height: 1.2em;
}

.marginTop{
  margin-top: 100px;
}

.marginBottom {
  margin-bottom: 250px;
}

